<!-- ask_buy.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lockers &amp; Noise: ASK / BUY </title>

    <script type="text/javascript"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='amazon.js') }}"></script>

    <style>
      input:invalid {
        background-image: linear-gradient(to right, yellow, lightgreen);

      }
      input:invalid:required {
        background-image: linear-gradient(to right, yellow, pink);
        border: 1px solid red;
      }
      input:valid {
        background: yellow;
        border: 1px solid lightgreen;
      }
    </style>
  </head>
  <body>
    
    <h1>
      Hello
    {% if name %}
      {{ name }}!
    {% else %}
      World!
    </h1>
    {% endif %}
    Do you want this? https://www.amazon.com/Amazon-Brand-Creamy-Peanut-Butter/dp/B07KWGSCW2

      <!-- <form> -->
        <label for="product-url">URL</label>
        <input style="width: 80%; display: block;" placeholder="https://www.amazon.com/your-item-url/dp/product" type="url" id="product-url" name="product-url" required pattern="https?://.+" /><br />
      
      <button onclick="ask();" id='ask-btn' style="display: block;">ASK</button>

      Updated URL <a id="updated-url" href=""></a>
    <!-- </form> -->

  </body>

  <script type="text/javascript">
    function ask() {
      const urlInput = document.getElementById('product-url');
      const url = urlInput.value;
      const affiliatesLink = getCleanAffiliatesLink(url);
      if (!affiliatesLink) { console.log('invalid URL'); }
      else if (!!affiliatesLink) {
        document.getElementById('updated-url').innerHTML = affiliatesLink;
        document.getElementById('updated-url').href = affiliatesLink;
      }

    }


  </script>



</html>




