body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ask form */
input:invalid {
	background-image: linear-gradient(to right, yellow, lightgreen);
}
input:invalid:required {
	background-image: linear-gradient(to right, yellow, pink);
	border: 1px solid red;
}
input:valid {
	background: yellow;
	border: 1px solid lightgreen;
}
